{% extends "account/base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "IMG_EDITOR" %}{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    button{
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: bold;
    }
    button:hover{
        background-color: aqua;
    }
</style>
 <div class="container mt-5">
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button  type="submit">Save changes</button>
    </form>
 </div>

{% endblock content %}